
{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>アカウント作成</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">ユーザーID</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="ユーザーID">
        </div>
        <div class="form-group">
            <label for="password1">パスワード</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="パスワード">
        </div>
        <div class="form-group">
            <label for="password2">パスワード確認用</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="パスワード確認用">
        </div>
        <small class="form-text text-muted">パスワードは8文字以上で設定してください。</small>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <span>利用できないユーザーIDやパスワードの可能性があります。入力内容を再度ご確認ください。</span>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">アカウント作成</button>
    </form>
</div>
{% endblock %}
