
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoアプリ</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap-datetimepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <!-- Bootstrap-datetimepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <style>
        .flex-container {
            display: flex;
        }
        .flex-item {
            margin-right: 10px; /* 要素間のスペース */
        }

        footer {
            height: 15vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">ToDoアプリ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todo-list' %}">ToDo一覧</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todo-create' %}">ToDo追加</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todo-search' %}">ToDo検索</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a>
                        </li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">ログアウト</button>
                    </form>
                    <p class="ml-3 my-0">ようこそ、{{ request.user.username }}さん</p>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>{% block h1 %}{% endblock %}</h1>
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <footer></footer>
</body>
</html>
