
{% extends 'base.html' %}
{% block title %}todo検索{% endblock %}

{% block content %}
    <form method="get" action="{% url 'todo-search' %}">
        <input type="text" name="q" placeholder="検索..." value="{{ query }}">
        <button type="submit">検索</button>
    </form>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'todo-detail' post.pk %}">{{ post.title }}</a>
                <p>{{ post.text }}</p>
                <p>{{ post.date }}</p>
                <p>{{ post.get_status_display }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


