
{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <h2>ToDoリスト</h2>

    <form method="get" action="{% url 'todo-list' %}">
        <label for="status">ステータス:</label>
        <select name="status" id="status">
            <option value="">すべて</option>
            <option value="finished" {% if status == 'finished' %}selected{% endif %}>完了済み</option>
            <option value="unfinished" {% if status == 'unfinished' %}selected{% endif %}>未完了</option>
        </select>
        <button type="submit">フィルタ</button>
    </form>
    
    <ul>
        {% for todo in todos %}
            <li>
                <h2>{{ todo.title }}</h2>
                <h6>Status: {{ todo.status }}</h6>
                <p>期限まで: {{ todo.date|days_until }}</p>
                <a href="{% url 'todo-detail' todo.pk %}">詳細を見る</a>
                <a href="{% url 'todo-delete' todo.pk %}">削除する</a>
            </li>
        {% empty %}
            <li>ToDoはありません。</li>
        {% endfor %}
    </ul>
{% endblock %}
