
{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <h2>ToDoリスト</h2>
    <ul>
        {% for todo in todos %}
            <li>
                <h2>{{ todo.title }}</h2>
                <h6>Status: {{ todo.status }}</h6>
                <p>期限まで: {{ todo.date|days_until }}</p>
                <a href="{% url 'todo-detail' todo.pk %}">詳細を見る</a>
                <a href="{% url 'todo-delete' todo.pk %}">削除する</a>
            </li>
        {% empty %}
            <li>ToDoはありません。</li>
        {% endfor %}
    </ul>
{% endblock %}
